// @import url('https://fonts.googleapis.com/css?family=PT+Mono&subset=cyrillic&display=swap');

@font-face {
  font-family: 'PT Mono';
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: local('PT Mono'),
       local('PTMono-Regular'),
       url('fonts/pt.woff2') format('woff2'),
       url('fonts/pt.woff') format('woff');
}

$color-brown: #b58863;
$color-darkblue: #2b282e;
$color-lightbrown: #d3bdb0;
$color-red: #e43222;

body {
  background: $color-darkblue;
  color: $color-lightbrown;
  font-family: 'PT Mono', 'Fira Code', 'Courier New', monospace;
  font-size: 17px;
  -webkit-font-smoothing: antialiased;
  margin: 0;
}

a {
  border-bottom: 1px solid $color-brown;
  color: $color-brown;
  font-weight: bold;
  text-decoration: none;

  &:hover {
    opacity: .9;
  }
}

p {
  line-height: 1.65;
  margin: 0 0 24px;
}

.main {
  margin: 50px 25px 0;
  max-width: 500px;
}

@media (min-width: 601px) {
  .main {
    margin: 50px;
  }
}

.console {
  color: $color-red;
  font-weight: bold;

  &.blink {
    animation: 1.7s linear infinite condemned_blink_effect;
  }
}

@keyframes condemned_blink_effect {
  0% {
    visibility: hidden;
  }

  50% {
    visibility: hidden;
  }

  100% {
    visibility: visible;
  }
}
