@import './layout.css';
@import './animations.css';

.main {
  margin: 50px 25px 0;
  max-width: 500px;
}

@media (min-width: 601px) {
  .main {
    margin: 50px;
  }
}

.console {
  color: #e43222;
  font-weight: bold;

  &.blink {
    animation: 1.7s linear infinite condemned_blink_effect;
  }
}
