:root {
  --color-darkblue: #2b282e;
  --color-lightbrown: #d3bdb0;
  --color-red: #ff6b5e;
}

html {
  background: var(--color-darkblue);
  color: var(--color-lightbrown);
  font-family: 'PT Mono', monospace;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  margin: 50px 25px;
  max-width: 500px;

  @media (width >=601px) {
    margin: 50px;
  }
}

a {
  border-bottom: 1px dotted var(--color-red);
  color: var(--color-lightbrown);
  text-decoration: none;
  transition: color 0.1s ease-in-out, border-bottom-color 0.1s ease-in-out;

  &:hover {
    color: var(--color-red);
    border-bottom-color: var(--color-darkblue);
  }
}

p {
  line-height: 1.488;
  margin: 0 0 24px;
}

.console {
  color: var(--color-red);
  font-weight: bold;

  &.blink {
    animation: 1.7s linear infinite condemned-blink-effect;
  }
}

@media (prefers-reduced-motion: reduce) {
  .console.blink {
    display: none;
  }
}

@keyframes condemned-blink-effect {
  0% {
    visibility: hidden;
  }

  50% {
    visibility: hidden;
  }

  100% {
    visibility: visible;
  }
}
