:root {
  --color-brown: #b58863;
  --color-darkblue: #2b282e;
  --color-lightbrown: #d3bdb0;
  --color-red: #e43222;
}

html {
  background: var(--color-darkblue);
  color: var(--color-lightbrown);
  font-family: "PT Mono", "Courier New", "Fira Code", monospace;
  font-size: 17px;
  -webkit-font-smoothing: antialiased;
  margin: 50px 25px 0;
  max-width: 500px;

  @media (min-width: 601px) {
    margin: 50px;
  }
}

a {
  border-bottom: 1px solid var(--color-brown);
  color: var(--color-brown);
  font-weight: bold;
  text-decoration: none;

  &:hover {
    opacity: 0.9;
  }
}

p {
  line-height: 1.65;
  margin: 0 0 24px;
}
